[submodule "3rdparty/Megatron-LM"]
	path = 3rdparty/Megatron-LM-workspace/Megatron-LM
	url = https://github.com/ananthsub/Megatron-LM.git
	branch = ultra-v3-posttraining
	shallow = true
[submodule "3rdparty/Megatron-Bridge"]
	path = 3rdparty/Megatron-Bridge-workspace/Megatron-Bridge
	url = https://github.com/NVIDIA-NeMo/Megatron-Bridge.git
	branch = ultra-v3-posttraining
	shallow = true
[submodule "3rdparty/Automodel-workspace/Automodel"]
	path = 3rdparty/Automodel-workspace/Automodel
	url = https://github.com/NVIDIA-NeMo/Automodel.git
	branch = yifu/bump-torch-and-hf
	shallow = true
[submodule "3rdparty/Gym-workspace/Gym"]
	path = 3rdparty/Gym-workspace/Gym
	url = ssh://git@gitlab-master.nvidia.com:12051/bxyu/nemo-gym.git
	branch = ultra-v3-posttraining
	shallow = true
